<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadContent</key>
	<array/>
	<key>PayloadDisplayName</key>
	<string>KeyTalk_ldap_manual</string>
	<key>PayloadIdentifier</key>
	<string>KeyTalk.6A4828A7-4AA9-477F-99B5-A45734756D1B</string>
	<key>PayloadRemovalDisallowed</key>
	<false/>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>6A4828A7-4AA9-477F-99B5-A45734756D1B</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
</dict>
</plist>
